@import "../../../styles/variables.scss";
.writer-wrpper {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url($bg-base-path + "/line-testimonial.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-size: 100%;
    top: -20px;
  }
  .hire-write-slider {
    .slick-slider {
      .slick-dots {
        bottom: -20px;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 3;
      }
      .slick-slide {
        padding: 20px 10px 30px;
        .writerBox {
          padding: 16px;
          border-radius: 10px;
          cursor: pointer;
          background: $white-color;
          border: 1px solid transparent;
          position: relative;
          top: 0;
          -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
          &:hover {
            -webkit-box-shadow: 0px 20px 40px rgba(38, 56, 77, 0.2);
            box-shadow: 0px 20px 40px rgba(38, 56, 77, 0.2);
            border-color: $secondary-color;
            top: -20px;
          }
          .writer-img {
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .writerDetail {
            padding-top: 16px;
            position: relative;
            .star {
              height: 18px;
              & > span {
                & > span {
                  margin-right: 8px;
                  height: 18px;
                }
              }
              img {
                max-width: fit-content;
              }
            }
            .name {
              font-size: 20px;
              font-weight: 700;
              line-height: 24px;
              margin-bottom: 0;
              a {
                color: $theme-custom-color;
                -webkit-transition: all 0.4s ease-in-out;
                transition: all 0.4s ease-in-out;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
            .education {
              color: #888888;
              font-size: 14px;
              margin-bottom: 25px;
            }
            .sub-detail {
              margin-top: 16px;
              margin-bottom: 16px;
              li {
                margin-bottom: 8px;
                width: 50%;
                span {
                  margin-left: 10px;
                  margin-right: 10px;
                  font-size: 16px;
                }
              }
            }
          }
          .writer-img {
            overflow: hidden;
            position: relative;
            border-radius: 10px;
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
            img {
              border-radius: 10px;
              -webkit-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1500px) {
  .writer-wrpper {
    .hire-write-slider {
      .slick-slider {
        .slick-slide {
          .writerBox {
            .writerDetail {
              .sub-detail {
                li {
                  span {
                    margin-left: 8px;
                    margin-right: 8px;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .slick-slider {
    .slick-arrow {
      &.slick-prev {
        left: -40px;
      }
      &.slick-next {
        right: -40px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .writer-wrpper {
    .hire-write-slider {
      .slick-slide {
        .writerBox {
          .writer-img {
            height: 250px;
            img {
              position: absolute;
              bottom: 0;
              top: 0;
              left: 0;
              right: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .writer-wrpper {
    .hire-write-slider {
      .slick-slider {
        .slick-slide {
          .writerBox {
            padding: 10px;
            .writer-img {
              height: 200px;
            }
            .writerDetail {
              .sub-detail {
                li {
                  span {
                    margin-left: 4px;
                    margin-right: 4px;
                  }
                }
              }
            }
          }
        }
        .slick-arrow {
          &.slick-prev {
            left: -10px;
          }
          &.slick-next {
            right: -10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .hire-writer {
    .desc {
      margin-bottom: 0;
      font-size: 14px;
    }
  }
  .writer-wrpper {
    .hire-write-slider {
      .slick-slider {
        overflow: hidden;
        padding-bottom: 30px;
        .slick-dots {
          bottom: 6px;
        }
        .slick-slide {
          .writerBox {
            .writer-img {
              height: 220px;
            }
            .writerDetail {
              .sub-detail {
                li {
                  span {
                    margin-left: 6px;
                    margin-right: 10px;
                  }
                }
              }
            }
          }
        }
        .slick-arrow {
          top: auto;
          bottom: -1px;
          &::before {
            width: 30px;
            height: 20px;
            background-size: 30px;
          }
          &.slick-next {
            right: 0;
          }
          &.slick-prev {
            left: 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .writer-wrpper {
    .hire-write-slider {
      .slick-slider {
        .slick-slide {
          .writerBox {
            .writer-img {
              height: 180px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .writer-wrpper {
    .hire-write-slider {
      .slick-slider {
        .slick-slide {
          padding: 0;
          .writerBox {
            .writerDetail {
              .education {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}
